body {
    letter-spacing: 1.1pt;
    padding-top: 50px;
    text-align: justify;
    }

h2 {
    text-align: center;
    }

#parrots {
    font-family: "Courgette"; 
    font-weight: bold;
    letter-spacing: 1px; 
    margin: 0 auto;
    max-width: 1000px; 
    }

#section1 {
    background-color: #c0c8cb;
          }

#section2 {
    background-color: #4d8fa9;
          }

#section3 {
    background-color: #afd6e5;
          }

#section4 {
    background-color: #4d8fa9;
          }

#section5 {
    background-color: #afd6e5;
          }

#section6 {
    background-color: #1c1f3e;    
          }

.buttons {
    width: 20%;
         }

.odwiedz {
    margin-right: 50px;
        }

.row   {
  display:  flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
        }

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
                        }

.section {
    padding: 100px;
        }


